{% extends 'base.html' %}

{% block title %}Interface {{ interface_name }} - Router Manager{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">
            <i class="fas fa-ethernet"></i> Interface: {{ interface_name }}
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Interface Configuration</h6>
            </div>
            <div class="card-body">
                <div class="alert alert-info">
                    <i class="fas fa-info-circle"></i> Interface configuration details for {{ interface_name }} will be implemented in future versions.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
